body {
  background-color: black;
  position: relative;
}
.container {
  background-color: rgb(9, 244, 228);
  min-height: 100vh;
  padding-bottom: 5%;
}
.results {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}
.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 60%;
  margin: 5% auto;
}
.one-card {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.image {
  width: 100%;
  height: 100%;
}
.results h2 {
  font-size: 3vw;
  font-weight: 600;
}

.btn-start {
  margin: 3% auto;
  display: block;
  padding: 1% 5%;
  background-color: rgb(9, 220, 199);
  animation-name: left-comming;
  animation-duration: 1s;
  position: relative;
  border-radius: 5%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: vw;
}
.btn-start:hover {
  background-color: rgb(62, 225, 157);
  transform: scale(1.1);
}
span {
  color: rgb(6, 147, 240);
  font-size: 4vw;
}

.gray-wall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.3);
}
.result {
  padding: 2%;
  text-align: center;
  width: 50%;
  background-color: black;
  color: white;
  margin: 20% auto;
}
.result button {
  font-size: 2vw;
  cursor: pointer;
  padding: 1%;
}
.result p {
  font-size: 2vw;
}

@keyframes left-comming {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@media screen and (max-width: 600px) {
  .results h2 {
    font-size: 4vw;
    margin-top: 5%;
  }
  .title {
    margin: 5% 0;
    font-size: 5vw;
  }
  .btn-start {
    margin: 10% auto;
    padding: 2% 10%;
    font-size: 4vw;
  }
  .container {
    width: 100%;
  }
  .App {
    max-width: 90%;
  }
  span {
    font-size: 6vw;
  }
  .result {
    margin: 30% auto;
    width: 80%;
    height: 40vw;
  }
  .result button {
    font-size: 4vw;
  }
  .result p {
    font-size: 4vw;
  }
}
